$dark: #17141A;
$yellow: #E4D804;


.blog_top{
    // position: absolute;
    top: -1%;
    width: 100%;
    z-index: -1;
    height: 600px;
    background-image: url(https://themebeyond.com/html/movflx/img/bg/breadcrumb_bg.jpg);
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    .news_update{
        position: absolute;
        left: 40%;
        top: 40%;
        color: white;
        text-align: center;
        margin: auto;
        h1{
            font-size: 60px;
            font-weight: 700;
        }
        .twos{
            text-align: center;
        }
        ul{
            display: flex;
            justify-content: center;
            list-style: none;
            font-weight: 600;
            .home{
                text-decoration: none;
                margin-right: 30px;
                position: relative;
                color: $yellow;
                &::after{
                    position: absolute;
                    content: '|';
                    color: #E4D804;
                    left: 60px;
                }
            }
        }
    }
}