$black: #171d22;
$yellow: #e4d804;


.btn {
    background-color: $black;
    font-size: 18px;
    border: 2px solid $yellow;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    font-weight: bold;
    cursor: pointer;
    &:hover{
        background-color: $yellow;
        color: $black;
    }
}

h5{
    font-size: 20px;
}