$dark: #17141A;
$yellow: #E4D804;


.watch_episode{
    width: 100%;
    // height: 100vh;
    padding: 40px 0 70px 0;
    background-image: url(https://themebeyond.com/html/movflx/img/bg/episode_bg.jpg);
    background-position: center center;
    color: white;
    .watch_episode_container{
        width: 80%;
        margin: auto;
        
        .watch_episode_details{
            margin-bottom: 40px;
            display: grid;
        grid-template-columns: 65% 35%;
        column-gap: 20px;
        .episodes{
            .episodes_top{
                margin-bottom: 40px;
                padding-bottom: 15px;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background-color: rgb(0, 0, 0);
                    box-shadow: 0px 1px 3px 0px rgb(102 102 102 / 46%);
                }
                display: flex;
                justify-content: space-between;
                align-items: center;
                h6{
                    font-size: 12px;
                    color: $yellow;
                }
                .views{
                    p{
                        color: #e3dfdf;
                        font-size: 14px;
                        display: flex;
                        align-items: center; 
                       .view_icon{
                        color: $yellow;
                        margin-left: 10px;
                       }
                    }
                    
                }
            }
        }
        }
        
        .about_history{
            width: 100%;
            .about_history_head{
                border: 0.2px solid #29272f;
                padding: 20px;
                width: 100%;
                margin-bottom: 15px;
                h2{
                    span{
                        color: $yellow;
                    }
                }
            }
            p{
                font-size: 14px;
                font-weight: 600;
                line-height: 26px;
                color: #bcbcbc;
            }
        }
    }
}